<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Отчет 2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<!-- <link rel="stylesheet" href="jquery-ui.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body id="demo">

<!-- <ul>
	<li v-for="item in j3 | disp">{{ item.Мастер}}</li>		
</ul>
 -->

<table class="table table-striped table-condensed table-hover table-bordered">
	<thead>
		<tr class="info">
			<th><a href="#">Дата</a></th>
			<th v-for="master in masters"><a href="#">{{master}}</a></th>			
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in m">
			<td>{{item.Дата}}</td>
			<td v-for="master in masters">
				<table class="table table-striped table-condensed table-hover table-bordered">
					<thead>
						<tr class="info">
							<th><a href="#">Заявка</a></th>
							<th><a href="#">Статус</a></th>
							<th><a href="#">Сумма</a></th>							
						</tr>
					</thead>
					<tbody>
						<tr v-for="zayavka in item | disp master">
							<td>{{ zayavka.Заявка }}</td>
							<td>{{ zayavka.Статус }}</td>
							<td>{{ zayavka.Сумма }}</td>				
						</tr>
					</tbody>
				</table>
			</td>							
		</tr>
	</tbody>
</table>

<script src="moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.js"></script>
<script>
new Vue ({
	el: "#demo",
	data : {
		j1 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '1.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});
	        return dataJson;        
		})(),

		j2 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '2.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});
	        return dataJson;
		})(),

		j3 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '3.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});	    	
	        return dataJson;
		})(),

		masters : [
			"Алексей", "Петр", "Самвел"
		],

		m : [
				{
					"Дата" : "01.01.2015", 
					"Алексей" : [
						{
							"Заявка" : "Марина 12121", 
						 	"Статус" : "Выполнено",
						 	"Сумма" : 2000
						},
						{	
							"Заявка" : "Ольга цу3у321",
							"Статус" : "Выполнено",
							"Сумма" : 1000
						}
					],
					"Петр" : [
						{
							"Заявка" : "Сантех кран 111111", 
						 	"Статус" : "Выполнено",
						 	"Сумма" : 3000
						}
					],
					"Самвел" : [
						{}
					]
				},
				{
					"Дата" : "02.01.2015", 
					"Алексей" : [						
						{	
							"Заявка" : "Ольга цу3у321", 
							"Статус" : "Выполнено",
							"Сумма" : 1000
						}
					],
					"Петр" : [
						{}
					],
					"Самвел" : [
						{
							"Заявка" : "Марина 12121", 
						 	"Статус" : "Выполнено",
						 	"Сумма" : 2000
						},
						{	
							"Заявка" : "Ольга цу3у321", 
							"Статус" : "Выполнено",
							"Сумма" : 1000
						},
						{	
							"Заявка" : "Ольга цу3у321", 
							"Статус" : "Выполнено",
							"Сумма" : 1000
						}
					]
				},
			]
		},

	filters	: {
		disp : function(obj, master) { return obj[master] }
	}
	
})

// console.log(Vue);
Vue.config.devtools = true;
Vue.config.debug = true;

</script>
</body>
</html>