<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Отчет 2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="style.css"> -->
	<!-- <link rel="stylesheet" href="jquery-ui.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body id="demo">

<table class="table table-striped table-condensed table-hover table-bordered">
	<thead>
		<tr class="info">
			<th><a href="#">Дата</a></th>
			<th v-for="master in masters | orderBy 'master'"><a href="#">{{master}}</a></th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in m">
			<td>{{item.Дата}}</td>
			<td v-for="master in masters | orderBy 'master'">
				<table class="table table-striped table-condensed table-hover table-bordered">
					<thead>
						<tr class="info">
							<th><a href="#">Заявка</a></th>
							<th><a href="#">Статус</a></th>
							<th><a href="#">Сумма</a></th>							
						</tr>
					</thead>
					<tbody>
						<tr v-for="zayavka in item | disp master">
							<td>{{ zayavka.Заявка }}</td>
							<td>{{ zayavka.Статус }}</td>
							<td>{{ zayavka.Сумма }}</td>				
						</tr>
					</tbody>
				</table>
			</td>							
		</tr>
	</tbody>
</table>

<script src="moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.js"></script>
<script>
var vm = new Vue ({
	el: "#demo",
	data : {
		j1 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '1.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});
	        return dataJson;        
		})(),

		j2 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '2.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});
	        return dataJson;
		})(),

		j3 : (function () {
	    	var dataJson = null;
	    	$.ajax({
	        'async': false,
	        'global': false,
	        'url': '3.json',
	        'dataType': "json",
	        'success': function (json) {
	    	    dataJson = json;
	    	    // console.log(json);
    		}
	    	});	    	
	        return dataJson;
		})(),

		masters : [], // список мастеров

		m : [] // основной массив
				
		},

	filters	: {
		disp : function(obj, master) { return obj[master] }
	},

	methods : { 
		initArrays : function() {
			// считываем список мастеров из хэш-таблицы j3 (справочник)		
			for (var i = 0, l = this.j3.length; i < l; i++) {this.masters.push(this.j3[i].Мастер)};		

			// находим самую раннюю дату в таблице j1
			var firstDate = moment("01 01 2015", "DD MMM YYYY").locale('ru').format("DD-MMM-YYYY");
			console.log(firstDate);

			var Line = { "Дата" : "" };
			console.log(Line);

			for (var i = 0, l = this.masters.length; i < l; i++) {
				Line[this.masters] = "";
			};		
			console.log(Line.length);

			// тут явно нужен какой-то констуктор класса объекта

				// начинаем цикл по датам с этой даты до сегодня

					// формируем комплексный объект-строку большой таблицы (здесь предположение по поводу использования конструктора прототипа объекта)

					// внутри этого объекта формируем массив вложенных объектов-строк малой таблицы

				// переходим к следующей дате

			this.m = []
		}
	}
	
})

vm.initArrays();

Vue.config.devtools = true;
Vue.config.debug = true;

</script>
</body>
</html>